---
layout: default
title: Help the Unplugged
subtitle: Donate used mobile gadgets to help elementary students attend online school without having to sacrifice their necessities.
description: For months, online learning has been a luxury for students with little access to technology. They cannot wait longer. Please help.
accent_color: '#36e266'
gallery_images:
  - htu-1.jpg
  - htu-2.jpg
  - htu-3.jpg
permalink: /
---

<div class="page-home">

	{% if site.data.settings.hero_settings.background_image %}
	 <img src="{{ site.data.settings.hero_settings.background_image | relative_url }}" class="hero__background" draggable="false">
	{% endif %}

	<section class="hero">
		<div class="wrap grid">
			<div class="title">
				<p class="subtitle">{{ page.overtitle }}</p>
				<h1>{{ page.title }}</h1>
			</div>

			<p class="intro subtitle--light">
				{{ page.description }}
			</p>
		</div>

	</section>

	<section class="listing">
		<div class="wrap">
      <article class="">
        <p><a href="{{ site.baseurl }}/donate/" class="hero__cta button--fill">Donate Now</a></p>
        <br>
        <p>or <a href="{{ site.baseurl }}/blog/">check our updates!</a></p>

      </article>

		</div>

    {% include post-components/gallery.html
      columns = 1
      full_width = true
      images = "
      https://lh3.googleusercontent.com/IMEj8yvL26riWmVAKt0Fv_VUQW-QpINt3yvxOeJ5PNtEz6fZNFqBFb3ELj4iIekxZIflCyCFsWZS1pzsT6YqW9E-XpH0PhwjkE35CbsvtE5DRvwXmeszMEm_PfO4fik39E_UGf6xPRt8YBF2vKpwqSWMHK4NVyhNSwKS0Zi8jYJS1rHKfB_7MVihpMYQU8kcrcjp5HpYl9yk97NlTTtHrwEtoeGfq97tTJA2iqE2tE3wONwqSpsCW_QXIH31BV6kZbO3xzUuY28eJsQhnkjvoNIyalGyy3_-7qxqZ8MbDJxZyfMWO-ozdCixJkz4k69Ilack31F2Yra_tBgdUWb-zVtvlzA-Jrb37X289WqtwBnSxtmorC3P9hydmdobtu8pdJuUUJAsI9m-G_hN_Eo6iv1f9SbUyUlKzo7mMDUHQxVHyJuUvhAYh1n1WpOwhBxfF_IgrnMoJq9zernVD7kV864NCNA-AEdSpfxPEU8RwADsvv5D1ko-jsh5WHXDzAVAHtp63pGuyTLOTB4EmMtuaark8qinFQbpgOk6HQF-TSO9y76ovKGKNL1XMGifUHNOVC_snAT3e_xYZrHvCnyQb8VBUwN020CyCtgnyogN0AgQpzKIA-YVXB_2spxDxewU0jZ_rnlOdZyO4ENs0Z_RlnlC4JhrzZYg6bq5RBOsuMMSQenBap29G7DkVkt4=w1275-h717-no?authuser=0,

      https://lh3.googleusercontent.com/PtJFDZM_jfPLoQQfU26bTDyFmoi9TR9D-i6HdEn2xzMXpEc6RxQEQeD8ZoWYyZU5M1_cDVKjBqRieXW5Z5lTPPB1GZsgR6Pntl-ZRhTfyLqNf64LkpnoDnnf7lUmcs6fvKKYNw9rfUFMGNpv7HDerO6ajbESZ_ONys5RotjLznaOVC744kGTiAD4nLCMTe4Cxdz0MFx96xEpghbFdbGYR9OKcorksIh7P4NxYxYINgMhlaBXTyCXpS4y-R6bfwnorK1cbkw1atymmuK_v3GOM4-S5cZrDpvc4QNltT7Dyro4tYWFokepc1Om9MT-c1fBjDUU-gQJP7Cdjh93rcoEBWrGbMSOFDcv3Azr-cIbAH4judZ6aQGz7l_vZkq-DcIXCvtSQ2_Y2Rd9saGdEE1iduY6P4YYpZQwyL5Gj1bYiNpM00PJUGMYwiZk1BeWi7lOQBSQ2uY9VaIPr8ZL9XE6Nza8LXi0OB4c9v0MzJ-EYweKY7NOIsbn9hdtIzsIBn5MH4NJdtQKaNvACVJB0eLf0LzBuOUsHqgSHuUHxAgyd2cDzxUlxiKmn5OAYkF7Wt-TWfyPK8Klq9hizdYpgxwFYg4SGcSuUGExHIUKV0v-CbfB8lEiIwqBwfC-nkTyz5SeCfdyZc8_tfcAEqHwh80Ea5iN1Ik5vVCCeeqLrQkbNx7jf8S_lZI2lEZ4SpAl=w1275-h717-no?authuser=0/images/projects/htu-5.jpg,

      https://lh3.googleusercontent.com/WfPdTogEAuaI4ow95BEcoDbQJgxYtC1hqmv3QcwmANg9DQohAq7FlXjh5Twr2qv33p63oWDTTDrJiyu2td7InHivIQs5Js_Po9IKfFpn0wmzqXYM2ADWsxZzsSb8GzWSUSGnsnQOak2x4mRP2YeawVQGzD8D9Yb2N4TSljAECMVNP6uDHBjsrspGYnFhd9Z4wetBQrOZ_HgUoTHThnPNqh3pIPASFzRnpRtmOlZzednOCsYa8Yky90tAtNrKF1jka-5FlVIO-luT2WoK5bOKcK07tSoo6ecGKy7slCm_rUbTwYPCJ2Q3nwo1aZF5FqZHTjMA8pRDA-jjI4Ki2XxXa3Ddo7XzZccoEKmf54ytgQFZs4iPhTftjZd7IlLJKebrtrErpTnbAZxkcy1n_KlcDQjrNCPfrDd6P0YZ_4EuR-Qpq9EIWWJrAaRysfOF3alSILJIAYfOxSW4QMVjS7k_CRaK0sbsTYaj4o6my7ArRiGo4aXKraikmywg6Rp1TSlNu5cMJWq-NuEfY0fHQRwqU2_yrVIDnR2chXp19QQorsrtRUWS13dJtGStr59NzSI2Uwq7fXP55GDTuNtFhieKROIdV3KUWxDStqxuU6Jm1A_3ROSVesG6Be7fuYjkqgPXVhx6mxGRBWZn2AULyXwoRXJqzJLWNECbGGyhimHwmbw-CN116S_0biecZnxC=w1040-h585-no?authuser=0,

      https://lh3.googleusercontent.com/LVfsilvEBiraxbrNhuu2o7uD0IVcLl6Mm5NBWoBoNkBi0WMrZf55WwsoHjK2CSQGp7IoohtB8PKJb4XimN1POfgTdgVr7BdnH86ulwuQX-8QEE_RKps_QeESn9Taj6h3YGVt5f-ydT6yE2Yhylq3d-BZUHBe9p__jZqKOrq0bsTKckuRDuyM5cWU2_ZyQZceZs8eV2iN0PIf0r80mfg22vrBkcGv2y9zU8V5XPKItyNleSss_7kBkv1E6shN0BHQQ7zMHA2Ilc8NtEKnlZ_Sfvo3W_HnOlhkENTyF5yPX4dip7WbnxfGPCipaGINmvDHL6xJNd9i8l9TK2lY7tdlGUgY-QOop3TtVF2txoj4jhcWGo4q74y6SCWWv-mGx9AyzRm-VJp6frzgPix2-42hw_7vLYSd07kEOejrr0HTpqFfQMdbfAVN3xHmP3D86Yc7vKMbGxiFmPgEVYKQ53rvZzWIMK5DNAfYF53psbkhPViuMAnxARlIq3kbNsywA1OxGGZ6xP4CUdNZtNwNW9L7oI8QLKU2ih4hH4jcSHZgAfc1i1Lv4LQR2pla-lmeeJ4yQNEGfOBB7xBxj2vvg3d7qGVs8HVjjLlGoopm7cWzqhcmAoEnmPPp7m8r3XUvsLWBRHuIQVfYyNwzv4dvxCuYATGRJuMmq1McLG4jNLgKzoew0T07rlaT8pPaoBL_=w1275-h717-no?authuser=0
      "
    %}

    <section class="colored-container">
      <div class="wrap grid">
          <h2>Background and the Issue</h2>
          <p class="project__subtitle subtitle--light">For the last two years, before Covid-19, we introduced fun computer skills to young students in MI Al-Hurriyah, located only 700 meters away from Jakarta Intercultural School.</p>
          <p class="project__subtitle subtitle--light">Today, many students in the school are struggling to access online education. Hafiz and Adieb are two of them.</p>
          <p class="project__subtitle subtitle--light">Due to the long-term effects of the pandemic in Jakarta, they are forced to live and learn with uncertainty. With your support, we hope to help them.</p>
      </div>
    </section>

    <section class="transparent-container">
      <div class="wrap grid">
        <p class="project__subtitle subtitle" style="">Some memories of last year:</p>
        <br>
      </div>

      <div class="wrap">

        {% include post-components/gallery.html
          columns = 1
          full_width = true
          images = "/images/projects/htu-5.jpg, /images/projects/htu-6.jpg
          "
        %}

      </div>

      <div class="wrap grid">
        <hr>
        <p class="project__subtitle subtitle" style="">Now, students are staying at home without enough resources to continue learning online. Hear the story of Hafiz and Adieb:</p>
        <br>
      </div>

      <div class="wrap grid">
        <div class="row">
          <div class="column landing_left_1">
            <img src="/images/help-the-unplugged/htu-student-1.jpg" alt="" style="border-radius: 15px;">
          </div>

          <div class="column landing_right_1">
            <p class="project__subtitle subtitle--light" style="">Now, hear the difficulties faced by Hafiz and Adieb:</p>
          </div>
        </div>

        <div class="row">
          <div class="column landing_left_1">
            <p class="project__subtitle subtitle--light" style="">Now, hear the difficulties faced by Hafiz and Adieb:</p>
          </div>

          <div class="column landing_right_1">
            <img src="/images/help-the-unplugged/htu-student-2.jpg" alt="" style="border-radius: 15px;">
          </div>
        </div>

      </div>

    </section>

    <section class="colored-container">
      <div class="wrap grid">
          <h2>The Power of Used Devices</h2>
          <p class="project__subtitle subtitle--light">Please support these students by donating an old device (smartphone, tablet, etc), or donating any amount of money to help buy sustainable data plans.</p>
          <p class="project__subtitle subtitle--light">An old mobile device left in our drawer can mean so much for a family and a student in need. It can potentially enable months or even years of sustainable learning. </p>
          <p class="project__subtitle subtitle--light">Imagine a student using your device every day to access online education, finally able to attend classes on time. </p>
          <h3>Wait!</h3>
          <p class="project__subtitle subtitle--light">If you are concerned about privacy issues with your old device, please read our comprehensive guide on the "Donate" page.</p>
      </div>
    </section>

    <section class="transparent-container">
      <div class="wrap">

        {% include post-components/gallery.html
          columns = 3
          full_width = true
          images = "/images/help-the-unplugged/sample-package-1.jpg, /images/help-the-unplugged/sample-package-2.jpg, /images/help-the-unplugged/sample-package-3.jpg
          "
        %}

      </div>
      <div class="wrap grid">
          <h2>Device - School - Student</h2>

          <p class="project__subtitle subtitle--light">Your device will be set as the property of MI-Alhurriyah, allowing teachers to use your donations for any situation in the future, not just COVID-19.</p>
          <p class="project__subtitle subtitle--light">We have set up a system to manage all devices without infringing upon students' privacy to address your security or privacy concerns.</p>
          <br>
      </div>

      <div class="wrap">
        <a href="{{ site.baseurl }}/donate/" class="hero__cta button--fill">Donate Now - Device & Monetary Support</a>
        <br>
      </div>
    </section>

    <section class="transparent-container">
      <div class="wrap grid">
        <hr>
        <h2>Appreciation Corner</h2>
        <p class="project__subtitle subtitle--light">We would like to express our deepest gratitute towards all donors:</p>
      </div>
    </section>

	</section>





<!-- Recent Posts Section Below. -->


	<!-- {% include section__about.html %} -->

	<section class="recent-posts">
		<div class="wrap grid">
			<header class="recent-posts__header">
				<h4>Latest Updates</h4>
				<a href="{{ '/blog' | relative_url }}" class="action button--text--accent --right">All UPDATES</a>
			</header>

			<div class="recent-posts__list grid">
				{% for post in site.posts limit: 3 %}
				{% include component__post-preview.html %}
				{% endfor %}
			</div>

			<a href="{{ '/blog' | relative_url }}" class="action-bottom button--text--accent --right">All UPDATES</a>
		</div>
	</section>
</div>
