---
layout: default
title: Help the Unplugged
subtitle: Donate used mobile gadgets to help elementary students attend online school without having to sacrifice their necessities.
description: For months, online learning has been a luxury for students with little access to technology. They cannot wait longer. Please help.
accent_color: '#36e266'
gallery_images:
  - htu-1.jpg
  - htu-2.jpg
  - htu-3.jpg
permalink: /
---

<div class="page-home">

	{% if site.data.settings.hero_settings.background_image %}
	 <img src="{{ site.data.settings.hero_settings.background_image | relative_url }}" class="hero__background" draggable="false">
	{% endif %}

	<section class="hero">
		<div class="wrap grid">
			<div class="title">
				<p class="subtitle">{{ page.overtitle }}</p>
				<h1>{{ page.title }}</h1>
			</div>

			<p class="intro subtitle--light">
				{{ page.description }}
			</p>
		</div>

	</section>

	<section class="listing">
		<div class="wrap">
      <article class="">
        <p><a href="{{ site.baseurl }}/donate/" class="hero__cta button--fill">Donate Now</a></p>
        <br>
        <p>or <a href="{{ site.baseurl }}/blog/">check our updates!</a></p>

      </article>

		</div>

    {% include post-components/gallery.html
      columns = 1
      full_width = true
      images = "
      https://lh3.googleusercontent.com/IMEj8yvL26riWmVAKt0Fv_VUQW-QpINt3yvxOeJ5PNtEz6fZNFqBFb3ELj4iIekxZIflCyCFsWZS1pzsT6YqW9E-XpH0PhwjkE35CbsvtE5DRvwXmeszMEm_PfO4fik39E_UGf6xPRt8YBF2vKpwqSWMHK4NVyhNSwKS0Zi8jYJS1rHKfB_7MVihpMYQU8kcrcjp5HpYl9yk97NlTTtHrwEtoeGfq97tTJA2iqE2tE3wONwqSpsCW_QXIH31BV6kZbO3xzUuY28eJsQhnkjvoNIyalGyy3_-7qxqZ8MbDJxZyfMWO-ozdCixJkz4k69Ilack31F2Yra_tBgdUWb-zVtvlzA-Jrb37X289WqtwBnSxtmorC3P9hydmdobtu8pdJuUUJAsI9m-G_hN_Eo6iv1f9SbUyUlKzo7mMDUHQxVHyJuUvhAYh1n1WpOwhBxfF_IgrnMoJq9zernVD7kV864NCNA-AEdSpfxPEU8RwADsvv5D1ko-jsh5WHXDzAVAHtp63pGuyTLOTB4EmMtuaark8qinFQbpgOk6HQF-TSO9y76ovKGKNL1XMGifUHNOVC_snAT3e_xYZrHvCnyQb8VBUwN020CyCtgnyogN0AgQpzKIA-YVXB_2spxDxewU0jZ_rnlOdZyO4ENs0Z_RlnlC4JhrzZYg6bq5RBOsuMMSQenBap29G7DkVkt4=w1275-h717-no?authuser=0,

      https://lh3.googleusercontent.com/PtJFDZM_jfPLoQQfU26bTDyFmoi9TR9D-i6HdEn2xzMXpEc6RxQEQeD8ZoWYyZU5M1_cDVKjBqRieXW5Z5lTPPB1GZsgR6Pntl-ZRhTfyLqNf64LkpnoDnnf7lUmcs6fvKKYNw9rfUFMGNpv7HDerO6ajbESZ_ONys5RotjLznaOVC744kGTiAD4nLCMTe4Cxdz0MFx96xEpghbFdbGYR9OKcorksIh7P4NxYxYINgMhlaBXTyCXpS4y-R6bfwnorK1cbkw1atymmuK_v3GOM4-S5cZrDpvc4QNltT7Dyro4tYWFokepc1Om9MT-c1fBjDUU-gQJP7Cdjh93rcoEBWrGbMSOFDcv3Azr-cIbAH4judZ6aQGz7l_vZkq-DcIXCvtSQ2_Y2Rd9saGdEE1iduY6P4YYpZQwyL5Gj1bYiNpM00PJUGMYwiZk1BeWi7lOQBSQ2uY9VaIPr8ZL9XE6Nza8LXi0OB4c9v0MzJ-EYweKY7NOIsbn9hdtIzsIBn5MH4NJdtQKaNvACVJB0eLf0LzBuOUsHqgSHuUHxAgyd2cDzxUlxiKmn5OAYkF7Wt-TWfyPK8Klq9hizdYpgxwFYg4SGcSuUGExHIUKV0v-CbfB8lEiIwqBwfC-nkTyz5SeCfdyZc8_tfcAEqHwh80Ea5iN1Ik5vVCCeeqLrQkbNx7jf8S_lZI2lEZ4SpAl=w1275-h717-no?authuser=0/images/projects/htu-5.jpg,

      https://lh3.googleusercontent.com/WfPdTogEAuaI4ow95BEcoDbQJgxYtC1hqmv3QcwmANg9DQohAq7FlXjh5Twr2qv33p63oWDTTDrJiyu2td7InHivIQs5Js_Po9IKfFpn0wmzqXYM2ADWsxZzsSb8GzWSUSGnsnQOak2x4mRP2YeawVQGzD8D9Yb2N4TSljAECMVNP6uDHBjsrspGYnFhd9Z4wetBQrOZ_HgUoTHThnPNqh3pIPASFzRnpRtmOlZzednOCsYa8Yky90tAtNrKF1jka-5FlVIO-luT2WoK5bOKcK07tSoo6ecGKy7slCm_rUbTwYPCJ2Q3nwo1aZF5FqZHTjMA8pRDA-jjI4Ki2XxXa3Ddo7XzZccoEKmf54ytgQFZs4iPhTftjZd7IlLJKebrtrErpTnbAZxkcy1n_KlcDQjrNCPfrDd6P0YZ_4EuR-Qpq9EIWWJrAaRysfOF3alSILJIAYfOxSW4QMVjS7k_CRaK0sbsTYaj4o6my7ArRiGo4aXKraikmywg6Rp1TSlNu5cMJWq-NuEfY0fHQRwqU2_yrVIDnR2chXp19QQorsrtRUWS13dJtGStr59NzSI2Uwq7fXP55GDTuNtFhieKROIdV3KUWxDStqxuU6Jm1A_3ROSVesG6Be7fuYjkqgPXVhx6mxGRBWZn2AULyXwoRXJqzJLWNECbGGyhimHwmbw-CN116S_0biecZnxC=w1040-h585-no?authuser=0,

      https://lh3.googleusercontent.com/LVfsilvEBiraxbrNhuu2o7uD0IVcLl6Mm5NBWoBoNkBi0WMrZf55WwsoHjK2CSQGp7IoohtB8PKJb4XimN1POfgTdgVr7BdnH86ulwuQX-8QEE_RKps_QeESn9Taj6h3YGVt5f-ydT6yE2Yhylq3d-BZUHBe9p__jZqKOrq0bsTKckuRDuyM5cWU2_ZyQZceZs8eV2iN0PIf0r80mfg22vrBkcGv2y9zU8V5XPKItyNleSss_7kBkv1E6shN0BHQQ7zMHA2Ilc8NtEKnlZ_Sfvo3W_HnOlhkENTyF5yPX4dip7WbnxfGPCipaGINmvDHL6xJNd9i8l9TK2lY7tdlGUgY-QOop3TtVF2txoj4jhcWGo4q74y6SCWWv-mGx9AyzRm-VJp6frzgPix2-42hw_7vLYSd07kEOejrr0HTpqFfQMdbfAVN3xHmP3D86Yc7vKMbGxiFmPgEVYKQ53rvZzWIMK5DNAfYF53psbkhPViuMAnxARlIq3kbNsywA1OxGGZ6xP4CUdNZtNwNW9L7oI8QLKU2ih4hH4jcSHZgAfc1i1Lv4LQR2pla-lmeeJ4yQNEGfOBB7xBxj2vvg3d7qGVs8HVjjLlGoopm7cWzqhcmAoEnmPPp7m8r3XUvsLWBRHuIQVfYyNwzv4dvxCuYATGRJuMmq1McLG4jNLgKzoew0T07rlaT8pPaoBL_=w1275-h717-no?authuser=0
      "
    %}

    <section class="transparent-container">
      <div class="wrap grid">
          <h2>Background & The Issue</h2>
          <p class="project__subtitle subtitle--light">For the last two years, before Covid-19, we introduced fun computer skills to young students in MI Al-Hurriyah, located only 700 meters away from Jakarta Intercultural School.</p>
          <p class="project__subtitle subtitle--light">Today, many students in the school are struggling to access online education. Hafiz and Adieb are two of them.</p>
          <p class="project__subtitle subtitle--light">Due to the long-term effects of the pandemic in Jakarta, they are forced to live and learn with uncertainty. With your support, we can help them.</p>
      </div>
    </section>

    <section class="transparent-container">
      <div class="wrap grid">
        <h3>Memories of last year:</h3>
        <br>
      </div>

        {% include post-components/gallery.html
          columns = 3
          full_width = true
          images = "

          https://lh3.googleusercontent.com/3y_6-d8XNNZgPgZyCOdlHH7FOeRVA6XM_W-qzZ1-_TS-vq0aKZAH3StnuEpcpvRV9pzJSzaXKZlch41P1w99hXg_ZMM3z-CkiT7oiO_vAhJdkPRWUq9RvmFz8_4fXI0NPJRoIovnaDdy-YsgAKYKKNGdPCOohx57146F7JDvdJwHVO9C6eqAcG51pPMYpJZRENnjMIIbnQGtWYXrBAjp5yI-m0gbmGw9rJcHiQMijxivfXYQ3CqjfzNH8VJgzTKcwFIXJGQjCTMkQ_bwU1PhpohfW6vRDnLIOBW5Q7ljqk0n_A3A00XY68fEjNTqWXRDg6JYD81vdFYAoTjfy-hN2bEh3j-o8ioxrlWdFFLLMUJmkBUF4CX78XFtyjqG1Gs37bZ8-O6dQ9P68XqQSVJx1lOVIbaimS2bIlMgTsQZiFDjvb2eJsLuLkppxWOojlrk6c7GGlaZdyQNrDjjUlaXwVxR5-7qtOgH3fYFC9k9erOCqdt2cE8stJ7OaKLdlXrJOQo-RTF54Os_9nUrI2zlv13v36TCUaKRtuJ3ykNvFbRRbKe_CrqDLG4_Gg6pD4jHiVYNhrohW3Ea2YbtybrRp2mFGcVkZjeUNdOwXlKseFeWdat2B_5mDWoIY2NDer19nFi69dYjtCc_vvaMUUeTxSHel_v0LINxmfRnc2JSY0V2UGvt7G2C8qxGswox=w980-h551-no?authuser=0,

          https://lh3.googleusercontent.com/0UgqdzsQXbDGc5FO-DY-M2ZZKf12zg_bD3zOW_ShTHyJG9OovK3AIUTRXLoemLXj99o_K9dASnOawSasMGgvU8mVA0s905yXZve0wsAJz6LccEoWU8qLpqQ80lqK1re8HFPMH0sm3IgqJIAKccivylinLVGzsFeDzwxYxsy2OupugpNGZwBDIEiE-7A2Eqdf6fPHLGXgAqtw24MYbTM8lyQ1Chuhoha9yA1nyJ78gvtn1S92cvWtOpYqX2Rd7ygUxlRo9ShyuJvMCCesRUmg4s6p4uL3BDNZFU3T1WDOrsIw3tVMYDpVbcg4pZnqGXp7te7hLCdGRyYhmd0mganM923h5f_T442sZ_ikrc00Efcn5tNcXzd06N9a1ICOGnCUlo0P5P65wy4p2sHnYE0rFoLbQQVUvzYGAEbXDEgsW8NdaDsr_JuHS9d7SeQwUhXLtnLdTF224WkMWfcd7cqgbpcJRk-CeeQgOpSzFODnq4d7Fn-ElZ1ohjgupkijwbh3-ZkIiAxZ1anRSLuKUJnW70nOB1cCsy6gqgYyPadvzYXQgaZXmxYPh_H7YqpR8CtuLp_U-RMAPalkSOISqfqYVs6PWT8P0VSnu20q5ibUPdIaPOqw3woCjd3nOP6q1D42ZXFfGaaE3f2bwljZN5nVYTtg_fCGt3VzNhqx64XeMKGIPH4qvuUhq-8L6dA_=w1029-h766-no?authuser=0,

          https://lh3.googleusercontent.com/F2gPBtC2pi_yPGFAlaN3g9A1NjjHnAaDvlF6W2FEKB8NqH1AzmOuTgHjb3uRwbYe3zWHNr9WneyjMQEucI3vYo-Lt3ei-DoxWRflhztb9AH6LsWbXvAhmvQ_pgYMZxlqx_UYtlfexgHl88L5wePjkvKYHbnvsQNqNJK0TmhDBJWsad0CvuG6DWWnCar2Xs_f7KXSGLsM1JFndJY7Elhi0k7riEfkRInYc_taW5PwsDhNV2ZM62TUoTvgAr4rky61Lg2iDnW3uWCBQdim5RurB-uBAuhsBDpTp51H0AE61kgxbVF721WMDc8ewzQRoAA0KaFO6ZQQ9ZGFIIeOeUKfI3hxpGG65HVRX2WSTha4_iTTn_TF2AivhviShuhKPSrEuaJmi8VipgONDl31M9BYNbAA86auvyMSiYIHsB_5z_NL-drwH7NcSK3SvJpx1XNI730QDUqyCHyJExaHtX3di5TkRa5E23qpraJOK7X4PCmWnT3ax3rybuZzr-F73TfJYT2M-65eBhpDuBxxE0W3ByG9b6mvZmcPWbS1_is-1FOnuCT-7lt1ntFStvmcrD9g7X6J2GpQVHOJhhmgqX0rzRTNtVic_Eg6PgKAgT6AUW0XZOdcB-lKuZrMd9zaC65gNsKJ4o_9LL6ak9HOHlEgMTX3Ws2xd1orE4BgakeJp5QkAZqMnRb9iqoIl8fB=w1150-h766-no?authuser=0,

          https://lh3.googleusercontent.com/VD8BvC-wade-y6l8M5o78wajzBj8LyLRBgxVpU2BnjTT6g0mk9OX0L_3jOtSqoWq88210JKmt2UY1cOUcV_PP9zV3q4QrdZTKMYyRmIrWHUn8oUoUKdNH5iz6Cn0zLsgBIkOjRbWOfIC2QOfqeu4OpSX7ea-rpwYFVWiK0qxX1pfrTP90cHbQjA9WFn7MCBXqY0W4fmXghXb-IpS5hxKvznxDQkW4MK3IROV4B0kRAiBIqAMdkBk_RwWIsEZ3GjSmRxJEW_jmGAGVqqbaVIjzqodeKqMnmZ_AA7Z_9IGeXSrKlqZw39b2c2TXHw7J3Vf2hb3NgNhV87sqxgUVZeS4p4Rlgl74lHLx3tjBZeigzxWOK6QSwqt7t9vnaM1TZMgeDyAskWZXr25BEUQpZLbzqg8y8Jsnf6jY0j8PKLVHgk7EtwCiucUhMyYCr4Q1Lns4IxVemQKvClfKQHjiQNcBqDQe1-syUielzLGUiRnsDva_8Ohl9OLsEUnPLp8tko38ZehPseDubZfTqYFJI3zsn5GnF4uun3EAYP3ADpHH3wLkHJzddyQU-i0zQY4xBD1ZEg0DNaa2Nspzljo0n_PTFEGk9dQ26S0AIkpMxLwJ5xyuuncA-gqiGTEm7RSf6kHbL1p_5g3ia6R6rUGAoOu1uz0uvJMOvvBQS87Pa_EJs_ZAp94GdgiMdDb_Ug0=w947-h766-no?authuser=0,

          https://lh3.googleusercontent.com/3n2AjVyNSylCNH2H8H3bN5kFzBz5oUcDvKiGP_hp0g06JbIGeo8HdHhhwhd022dGVz2mcsStGVV7BmJQzAlGg-6jk0t7DU-XMthrGJSW7p5fCLd6TzxWfkgNtb3svTt4P0Ze8Lv-HiRwRw7lrwpGOYH5SWpOev0hoiKzLzDgQhSAnRFRjFhnQSxRAvphvcT-zYVfQPoHxp49AsdNm1ZZceNTxyljsq_8jc6hpQEQptlkyJPEI9u_0fxPRt4XSajaDuDJ97doTdZGzaXHRcGvJjaulK8GGud-LZV4pKvl2PlgXpJzlAzsnLM1AzM9EDgij4hGlHfwEf47ujWFlhjIB2P3sutsDtaAjEdRF3Zggj6IxUVibhmZt8lu_4UXMLni7Lvsfsg4VsAVJD66GKIjsS9tpSZ5WH9jeMroAHIJCyHRyg52Vw0AxjkvM9TzBUJuR54iSx-AlLIaWpLJpHqJNdpxrBWsZQRnh1QcX4OVZTqjG96BuD77wMLeQ_eu47f84HTnghEQqrXfNQcTFet4WjOHOV2uqNTqZGz66so9sKK_bHn72jEMfERrJpmq8po2vjAV1AZiXCefzeGdrWXq4LZOT6GhA4cs6bb0zd_c2kt7jyIXq15lXaKwuRaTPy6nCpbtYA3vMRi1fwJVD_61udW-O2Lbzj0JLfKxYuoNIw836Q9aV8aMCBbhtlnH=w1150-h766-no?authuser=0,

          https://lh3.googleusercontent.com/VkIDYrWUMYwOak9atzhE6o6EqZonWdVA6f-1HoN_CzjhfhV__UmRzREbjfJ-nZk6QehLxjIsb80m8XEgdXLLsGoVBGlTqQWJVpASWg2LBxlY_HNEdpkFDJOF63WinOSghWeaBHo_l1gVM6S7qvCh_Bxasxv58Z4U8-isGZFOMKthqCR62KD1VidO4UM2XkCSm7cKMeeN35aXQ3cfMGUHW5amnqKH0U_H09H6Q7vdK1uGfCevRKzauVov02Aa3QOfdvopJNxE8EI7FBaRxg2HzqWDjCyzMJQjtNHGJAroWZLSNMrwZOZWbAhMQl4hbUpBOgp1saKquj2GDmXXOcVCCn3T7xYG4vyGuZ_JahSSuOAKcuICy3FoAmVCMO380mdq8Pa_MTqDPoH7ls2kRIQ4nxV0_V7fl0R2CH5jeRD5lRSkdAxw2EgoE66UlOAtsE-V36qhpKpuhPOcVWIADPcBfAUa02rVvuT8mxzBheC-02fw9eX2I8NwsKSS8muluihkDfDqb4KkyN8dEEvq0XcNI8INuECC-pyQOVx9TXp_62Gqv6123X7iplaBQPk9IqwMiE6BA5taLAGOLbTsVC380WdJ84SXVF66Rsgw8iODrdjge-BaZ9wz-V9c33d0mhduUo-4nwBuAJxpS8gKJBAckvTHhB-EEUwzVB7cxzlJEQHjlO6c_pcfiiH2Gqa4=w1150-h766-no?authuser=0



          "
        %}

      <div class="wrap grid">
        <br>
        <p class="project__subtitle subtitle--light" style="">Now, students are staying at home without enough resources to continue learning online. Hear the concerns of teachers:</p>
        <hr>
        <h4>"Before parents go to work, many students have to wake up earlier to borrow their smartphones"</h4>
        <h4>"Some students sacrifice their meals to buy mobile quota"</h4>
        <p style="color:#3138e9">These quotes were paraphrased and traslated.</p>
        <hr>

        <p class="project__subtitle subtitle--light" style="">Hafiz and Adieb are two students in MI Al-Hurriyah who need your help, just like many others.</p>

        <br>
      </div>

      <div class="wrap">
        <!-- <div class="row">
          <div class="column landing_left_1">
            <img src="/images/help-the-unplugged/htu-student-1.jpg" alt="" style="border-radius: 15px;">
          </div>

          <div class="column landing_right_1">
            <p class="project__subtitle subtitle--light" style=""></p>
          </div>
        </div>

        <div class="row">
          <div class="column landing_left_1">
            <p class="project__subtitle subtitle--light" style="">Now, hear the difficulties faced by Hafiz and Adieb:</p>
          </div>

          <div class="column landing_right_1">
            <img src="/images/help-the-unplugged/htu-student-2.jpg" alt="" style="border-radius: 15px;">
          </div>
        </div> -->

        {% include post-components/gallery.html
          columns = 2
          full_width = true
          images = "/images/help-the-unplugged/htu-student-1.jpg, /images/help-the-unplugged/htu-student-2.jpg,

          https://lh3.googleusercontent.com/pw/ACtC-3dXtVYu2bi1PhdA0oDjvwM6z2MxJR1P6979mPbdzOhY2pG6H4h565ZTplWo39MtW0Zt8JyhTnu7n8OtxumXVvw8jxCGXwSTgBwtyhKwsrbYy78h2rQYpgdGHwUeDMtL9kFvXx6GzJL_vQy5RoV77Q7i=w1089-h710-no?authuser=0
          "
        %}

      </div>

    </section>

    <section class="colored-container">
      <div class="wrap grid">
          <h2>The Power of Used Devices</h2>
          <p class="project__subtitle subtitle--light">Please support these students by donating an old device (smartphone, tablet, etc) or money to help us buy sustainable data plans.</p>
          <p class="project__subtitle subtitle--light">An old mobile device left in our drawer can mean so much for a family and a student in need. It can potentially enable months or even years of sustainable learning. </p>
          <p class="project__subtitle subtitle--light">Imagine a student using your device every day to access online education, finally able to attend classes on time. </p>
          <h3>Wait!</h3>
          <p class="project__subtitle subtitle--light">If you are concerned about privacy issues with your old device, please read our comprehensive guide on the "Donate" page.</p>
      </div>
    </section>

    <section class="transparent-container">
      <div class="wrap">

        {% include post-components/gallery.html
          columns = 3
          full_width = true
          images = "/images/help-the-unplugged/sample-package-1.jpg, /images/help-the-unplugged/sample-package-2.jpg, /images/help-the-unplugged/sample-package-3.jpg
          "
        %}

      </div>
      <div class="wrap grid">
          <h2>Device - School - Student</h2>

          <p class="project__subtitle subtitle--light">Your device will be set as the property of MI-Alhurriyah, allowing teachers to use your donations for any situation in the future, not just COVID-19.</p>
          <p class="project__subtitle subtitle--light">We have set up a system to manage all devices without infringing upon students' privacy to address your security or privacy concerns.</p>
          <br>
      </div>

      <div class="wrap">
        <a href="{{ site.baseurl }}/donate/" class="hero__cta button--fill">Donate Now - Device & Monetary Support</a>
        <br>
      </div>
    </section>

	</section>





<!-- Recent Posts Section Below. -->


	<!-- {% include section__about.html %} -->

	<section class="recent-posts">
		<div class="wrap grid">
			<header class="recent-posts__header">
				<h4>Latest Updates</h4>
				<a href="{{ '/blog' | relative_url }}" class="action button--text--accent --right">All UPDATES</a>
			</header>

			<div class="recent-posts__list grid">
				{% for post in site.posts limit: 3 %}
				{% include component__post-preview.html %}
				{% endfor %}
			</div>

			<a href="{{ '/blog' | relative_url }}" class="action-bottom button--text--accent --right">All UPDATES</a>
		</div>
	</section>
</div>
