---
layout: default
title: Help the Unplugged
subtitle: Donate used mobile gadgets to help elementary students attend online school without having to sacrifice their necessities.
description: For months, online learning has been a luxury for students with little access to technology. They can't wait longer. You can help.
accent_color: '#36e266'
gallery_images:
  - htu-1.jpg
  - htu-2.jpg
  - htu-3.jpg
permalink: /help-the-unplugged
---

<div class="page-home">

	{% if site.data.settings.hero_settings.background_image %}
	<img src="{{ site.data.settings.hero_settings.background_image | relative_url }}" class="hero__background" draggable="false">
	{% endif %}

	<section class="hero">
		<div class="wrap grid">
			<div class="title">
				<p class="subtitle">{{ page.overtitle }}</p>
				<h1>{{ page.title }}</h1>
			</div>

			<p class="intro subtitle--light">
				{{ page.description }}
			</p>
		</div>
	</section>

	<section class="listing">
		<div class="wrap">

      <p><a href="#" class="hero__cta button--fill">Donate Now</a></p>
      <br>
      <p>or <a href="#">check our latest updates!</a></p>

      {% include post-components/gallery.html
        columns = 1
        full_width = true
        images = "/images/projects/htu-5.jpg, /images/projects/htu-6.jpg
        "
      %}

		</div>

    <section class="colored-container">
      <div class="wrap grid">
          <h2>Background and the Issue</h2>
          <p class="project__subtitle subtitle--light">For the last two years, before Covid-19, we introduced fun computer skills to young students in MI Al-Hurriyah, located only 700 meters away from our campus.</p>
          <p class="project__subtitle subtitle--light">Today, many students in the school are struggling to access online education. Hafiz and Adieb are two of them.</p>
          <p class="project__subtitle subtitle--light">With the pandemic not easing in Jakarta, they are forced to live and learn with uncertainty. With your support, we hope to help them.</p>
      </div>
    </section>

    <section class="transparent-container">
      <div class="wrap grid">
        <p class="project__subtitle subtitle" style="">Some memories of last year:</p>
        <br>
      </div>

      <div class="wrap">

        {% include post-components/gallery.html
          columns = 1
          full_width = true
          images = "/images/projects/htu-5.jpg, /images/projects/htu-6.jpg
          "
        %}

      </div>

      <div class="wrap grid">
        <hr>
        <p class="project__subtitle subtitle" style="">Now, students are staying home without enough resources to continue learning online. Hear the story of Hafiz and Adieb:</p>
        <br>
      </div>

      <div class="wrap grid">
        <div class="row">
          <div class="column landing_left_1">
            <img src="/images/help-the-unplugged/htu-student-1.jpg" alt="" style="border-radius: 15px;">
          </div>

          <div class="column landing_right_1">
            <p class="project__subtitle subtitle--light" style="">Now, hear the difficulties faced by Hafiz and Adieb:</p>
          </div>
        </div>

        <div class="row">
          <div class="column landing_left_1">
            <p class="project__subtitle subtitle--light" style="">Now, hear the difficulties faced by Hafiz and Adieb:</p>
          </div>

          <div class="column landing_right_1">
            <img src="/images/help-the-unplugged/htu-student-2.jpg" alt="" style="border-radius: 15px;">
          </div>
        </div>

      </div>

    </section>

    <section class="colored-container">
      <div class="wrap grid">
          <h2>The Power of Used Devices</h2>
          <p class="project__subtitle subtitle--light">Please support these students by donating an old device (smartphone, tablet, etc), or donating any amount of money to buy sustainable data plans.</p>
          <p class="project__subtitle subtitle--light">An old mobile device left in our drawer can mean so much for a family and a student in need. </p>
          <p class="project__subtitle subtitle--light">Imagine a student using your device every day to access online education, finally able to attend classes on time. </p>
          <p class="project__subtitle subtitle--light">Certainly, it will take some time to donate a device in this pandemic situation. But your effort can potentially enable months or even years of sustainable learning.</p>
          <h3>Wait!</h3>
          <p class="project__subtitle subtitle--light">If you are concerned about privacy issues with your old device, please read our comprehensive guide on the "Donate" page.</p>
      </div>
    </section>

    <section class="transparent-container">
      <div class="wrap">

        {% include post-components/gallery.html
          columns = 3
          full_width = true
          images = "/images/help-the-unplugged/sample-package-1.jpg, /images/help-the-unplugged/sample-package-2.jpg, /images/help-the-unplugged/sample-package-3.jpg
          "
        %}

      </div>
      <div class="wrap grid">
          <h2>Device - School - Student</h2>

          <p class="project__subtitle subtitle--light">Your device will be set as the property of MI-Alhurriyah, allowing teachers to use your donations for any situation in the future, not just COVID-19.</p>
          <p class="project__subtitle subtitle--light">We have set up a system to manage all devices without infringing upon students' privacy to address your security or privacy concerns.</p>
          <br>
      </div>

      <div class="wrap">
        <a href="#" class="hero__cta button--fill">Donate Now - Device or Monetary Support</a>
        <br>
      </div>
    </section>

    <section class="colored-container">
      <div class="wrap grid">
        <hr>
        <h2>Appreciation Corner</h2>
        <p class="project__subtitle subtitle--light">Please support these students by donating an old device (smartphone, tablet, etc), or donating any amount of money to buy sustainable data plans.</p>
      </div>
    </section>

	</section>





<!-- Recent Posts Section Below. -->


	<!-- {% include section__about.html %} -->

	<section class="recent-posts">
		<div class="wrap grid">
			<header class="recent-posts__header">
				<h4>Latest Updates</h4>
				<a href="{{ '/blog' | relative_url }}" class="action button--text--accent --right">All UPDATES</a>
			</header>

			<div class="recent-posts__list grid">
				{% for post in site.posts limit: 3 %}
				{% include component__post-preview.html %}
				{% endfor %}
			</div>

			<a href="{{ '/blog' | relative_url }}" class="action-bottom button--text--accent --right">All UPDATES</a>
		</div>
	</section>
</div>
