---
layout: default
overtitle: Help the Unplugged
title: Support the Families
description:
---

<div class="page-home">

	{% if site.data.settings.hero_settings.background_image %}
	<img src="{{ site.data.settings.hero_settings.background_image | relative_url }}" class="hero__background" draggable="false">
	{% endif %}

	<section class="hero">
		<div class="wrap grid">
			<div class="title">
				<p class="subtitle">{{ page.overtitle }}</p>
				<h1>{{ page.title }}</h1>
			</div>

			<p class="intro subtitle--light">
				{{ page.description }}
			</p>
		</div>
	</section>

	<section class="colored-container-2">
		<div class="wrap grid">
				<h3>! Support Us Financially</h3>
				<p class="project__subtitle subtitle--light">For students of Al-Hurriyah, providing mobile data plans can help them focus on studying, not on thinking about what necessities to sacrifice every week.</p>
				<p class="project__subtitle subtitle--light">As a student organization, we are dependent on your support. We hope to provide Rp.100,000 each month to every student who receives a device from us, and we also need funding to fix damaged devices. </p>
				<p class="project__subtitle subtitle--light">However small the amount, we ask you to donate on Kita Bisa today.</p>
				<p><a href="https://kitabisa.com/campaign/bantumialhurriyah" class="hero__cta button--fill">Visit Kita Bisa</a></p>
		</div>
	</section>

	<section class="transparent-container">
		<div class="wrap grid">
				<h3>Transfer Directly</h3>
				<p class="project__subtitle subtitle--light">If you prefer transferring your monetary donation directly, please read the following information.</p>
				<p class="project__subtitle subtitle--light">Please name your transfer <strong>"Plugged-IN Campaign Donation"</strong>, and send a receipt to either +628119008552 or plugged-in-jis@jisedu.or.id.</p>
				<hr>
				<p class="project__subtitle subtitle--light">
					Beneficiary Name : Jakarta International School Safekeeping Fund
				</p>
				<p class="project__subtitle subtitle--light">
					Bank Name : PT. Bank ANZ Indonesia
				</p>
				<p class="project__subtitle subtitle--light">
					Bank Address : ANZ Tower 8th Floor Jl. Jend. Sudirman Kav. 33A Jakarta10220
				</p>
				<p class="project__subtitle subtitle--light">
					Swift Code : ANZBIDJX
				</p>
				<p class="project__subtitle subtitle--light">
					Account No. : 438564-01-00001
				</p>

		</div>
	</section>

	<section class="transparent-container">
		<div class="wrap grid">
		</div>
	</section>

	<section class="listing">
		<div class="wrap">

			<h1>Donate your Device</h1>

      {% include post-components/gallery.html
        columns = 1
        full_width = true
        images = "/images/projects/htu-5.jpg, /images/projects/htu-6.jpg
        "
      %}

		</div>

    <section class="transparent-container">
      <div class="wrap grid">
          <h2>About your Device</h2>
          <p class="project__subtitle subtitle--light">We welcome any type of devices in all conditions; we will fix damaged ones. Mobile phones, taplets, and laptops are all in need.</p>
          <p class="project__subtitle subtitle--light">Smartphones and tablets will be directly used by students, and computers will be used by another organization to benefit multiple students, under the 'Computer Care' project. We will document every progress in the 'Updates' page of this website.</p>
      </div>
    </section>

    <section class="colored-container">
      <div class="wrap grid">
				<h2>Reset your Device</h2>
        <p class="project__subtitle subtitle--light">Both Apple and Android provide ways to reset your mobile devices completely. Factory reset is comprehensive and complete, as noted by experts. If you want extra security, delete your Icloud or Google account before reset. To ensure that devices are indeed used by students, we keep a record of their phone and asset numbers.</p>
        <p class="project__subtitle subtitle--light"> <a href="https://support.apple.com/en-us/HT201351">Reset your Iphone or Ipad</a></p>
				<p class="project__subtitle subtitle--light"> <a href="https://support.google.com/android/answer/6088915?hl=en">Reset your Android device</a></p>
				<p class="project__subtitle subtitle--light">If you want professional help in resetting your device, including computers, reach out to us by using the "Contact" button.</p>
      </div>
    </section>

    <section class="transparent-container">

			{% include post-components/gallery.html
				columns = 3
				full_width = true
				images = "/images/help-the-unplugged/sample-package-1.jpg, /images/help-the-unplugged/sample-package-2.jpg, /images/help-the-unplugged/sample-package-3.jpg
				"
			%}

      <div class="wrap grid">
          <h2>Drop off at JIS</h2>
          <p class="project__subtitle subtitle--light">Deliver your device(s) to the JIS High School Terogong Gate using any delivery method, such as Gojek and your personal car. JIS Security will kindly handle your donation. Please support us by covering delivery fee :)</p>
					<p class="project__subtitle subtitle--light">Write down your full name and "Plugged-IN" on the delivery so that we can record you, unless you want to be anonymous.</p>
          <p class="project__subtitle subtitle"><strong>Jl. Terogong Raya No.33, RT.3/RW.6, Cilandak Bar., Kec. Cilandak, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12430</strong></p>
					<h2>Doorstep Pickup</h2>
          <p class="project__subtitle subtitle--light">We can pick up your donation at your doorstep or lobby. No need to deliver yourself! Fill out the form, and we will contact you for a proper date and time.</p>
					<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSceKvA3Vx7TF35fvgqjdKWYfnQQd90DIk4ZK3CeCCYIyUzxPw/viewform?usp=sf_link" class="hero__cta button--fill">Doorstep Form</a></p>
      </div>
    </section>

	</section>





<!-- Recent Posts Section Below. -->


	<!-- {% include section__about.html %} -->

	<section class="recent-posts">
		<div class="wrap grid">
			<header class="recent-posts__header">
				<h4>Latest Updates</h4>
				<a href="{{ '/blog' | relative_url }}" class="action button--text--accent --right">All UPDATES</a>
			</header>

			<div class="recent-posts__list grid">
				{% for post in site.posts limit: 3 %}
				{% include component__post-preview.html %}
				{% endfor %}
			</div>

			<a href="{{ '/blog' | relative_url }}" class="action-bottom button--text--accent --right">All UPDATES</a>
		</div>
	</section>
</div>
